<div class="container text-center">
  <div class="row">
    <div class="col">
      <%= form_for @ad do |f| %>
      <%= f.hidden_field :ad_id, value: params[:ad_id] %>
      <%= f.label :City %>
      <%= f.select :city, options_for_select(Ad::CITY), {include_blank: true} %>
    </div>
    <div class="col">
      <%= f.label :Milage %>
      <%= f.text_field :milage, placeholder: 'in km/h' %>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <%= f.label :'Car_Make/Model' %>
      <%= f.select :car_make, options_for_select(Ad::CAR_MAKE), {include_blank: true} %>
    </div>
    <div class="col">
      <%= f.label :Transmission_Type %>
      <%= f.select :transmission_type, options_for_select([['Automatic Manual', 'automatic manual'],['Manual', 'manual']]), {include_blank: true} %>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <%= f.label :Price %>
      <%= f.text_field :price, placeholder: 'should be entered in PKR' %>
    </div>
    <div class="col">
      <%= f.label :Engine_Type %>
      <%= f.select :engine_type, options_for_select([['Petrol', 'petrol'],['Diesel', 'diesel'], ['Hybrid','hybrid']]), {include_blank: true}%>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class = col-6 >
      <%= f.label :Color %>
      <%= f.select :color, options_for_select(Ad::COLOR), {include_blank: true}%>
    </div>
    <div class = col-6 >    
      <%= f.label :Assembly_Type %>
      <%= f.text_field :assembly_type %>
    </div>
  <div class="container text-center">
    <div class="row">
      <div class = col-6 >
        <%= f.label :Engine_Capacity %>
        <%= f.text_field :engine_capacity %>
        </div>
    </div>
  </div> 
  <div class="container text-center">
    <div class="row">
      <div class = col-6 >
        <%= f.label :Add_Description %>
        <%= f.text_field :add_description, :size=>"50", :maxlength=>"254" %> 
        </div>
    </div>
  </div> 
  <div class="container text-center">
    <div class="row">
      <div class = col-6 >	
				<%= f.hidden_field :ad_id, value: @ad.id %>
				<%= f.file_field :images, class: "form-control", multiple: true %>
				<img id="img_prev" />  
			</div>
		<div>
	</div>		
	<div class="container text-center">
		<div class="row">
			<div class="col">
				<%= f.label :Primary_Contact %>
				<%= f.text_field :primary_contact,  placeholder: '+923xxxxxxxxx', class: "form-control #{'is-invalid' if 'invalid'}" %>
				
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="row">
			<div class="col">
				<%= f.label :Secondary_Contact %>
				<%= f.text_field :secondary_contact,  placeholder: '+923xxxxxxxxx', class: "form-control #{'is-invalid' if 'invalid'}" %>
				
			</div>
		</div>
	</div>	
    <%= f.submit %>
    <% end %> 
    <form>
  </div>
</div>

