<div class="container-fluid w-75 h-100 mt-5 p-10 text-right border bg-light ">
	<div class="container text-center">
 		<div class="row">
			<div class="col">
				<p> City </p>
				<%= @ad.city %>
			</div>
			<div class="col">
				<p>Car Make/Model </p>
				<%= @ad.car_make %>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p> Milage </p>
				<%= @ad.milage %>
			</div>
			<div class="col">
				<p>Engine_Type </p>
				<%= @ad.engine_type%>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p> Transmission_Type </p>
				<%= @ad.transmission_type %>
			</div>
			<div class="col">
				<p>Color </p>
				<%= @ad.color%>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p> Price </p>
				<%= @ad.price %>
			</div>
			<div class="col">
				<p>Image:</p>
				<%= image_tag @ad.images.first, style: "width: 300px;height: 200px" if  @ad.images.attached? %>
			</div>
		</div>    
		<div class="row">
			<div class="col">
				<p> Primary_Contact </p>
				<%=  @ad.primary_contact %>
			</div>
			<div class="col">
				<p>Secondary_Contact </p>
				<%= @ad.secondary_contact%>
			</div>
		</div>  
		<div class="row">
 			<div class="col">
				<p>Add_Description</p>
				<%= @ad.add_description %>
			</div>
		</div>
		<button type="button" class="btn btn-outline-dark">
			<%= link_to favourite_text, favourite_path(ad: @ad), method: 'put', id: 'favourite_link', remote: true %>
		</button>
		<button type="button" class="btn btn-outline-dark">
			<%= link_to "Edit Ad", edit_ad_path(ad_id: @ad.id) if user_signed_in?%>
		</button>
		<button type="button" class="btn btn-outline-danger">
			<%= link_to "Delete Ad", ad_path(@ad), method: :delete, data:{ confirm: "Are you sure?" } %>
		<td>
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
			<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
			</svg>
		</td>
		</button>
	</div>
</div>
