<div class="container-fluid w-75 border rounded shadow mt-1 p-4 bg-light text-center">
  <%= render 'progress-bar'%>
  <%= form_for @ad, url: wizard_path, method: "PUT" do |f| %>
    <% if f.object.errors.any? %>
      <div class="error_messages">
        <% f.object.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-4 ">
          <%= f.hidden_field :ad_id, value: params[:ad_id] %>
          <%= f.label :City %>
          <%= f.select :city, options_for_select(Ad::CITY),{}, class: 'form-control' %>
      </div>
      <div class="col-md-4">
          <%= f.label :Mileage %>
          <%= f.text_field :milage, placeholder: 'in km/h', required: true, class: 'form-control' %>
      </div>  
      <div class = "col-md-4" >    
        <%= f.label :Assembly_Type %>
        <%= f.select :assembly_type, options_for_select([['Local', 'local'], ['International','international']]),{}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <%= f.label :'Car_Make/Model' %>
          <%= f.select :car_make, options_for_select(Ad::CAR_MAKE),{}, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :Transmission_Type %>
          <%= f.select :transmission_type, options_for_select([['Automatic Manual', 'automatic manual'],['Manual', 'manual']]),{}, class:'form-control' %>
        </div>
          <div class="col-md-4">
          <%= f.label :Price %>
          <%= f.text_field :price, placeholder: 'should be entered in PKR', class: 'form-control' , required: true %>
        </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <%= f.label :Engine_Type %>
        <%= f.select :engine_type, options_for_select([['Petrol', 'petrol'],['Diesel', 'diesel'], ['Hybrid','hybrid']]),{}, class: 'form-control'%>
      </div>
      <div class = "col-md-4" >
        <%= f.label :Color %>
        <%= f.select :color, options_for_select(Ad::COLOR),{}, class: 'form-control'%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= f.label :Add_Description %>
        <%= f.text_area :add_description, :size=>"50", :maxlength=>"254", class: 'form-control' %> 
      </div>
    </div>
    <div> 
      <%= f.submit "next", class: 'btn btn-primary' %>
    </div>   
  <% end %> 
</div>
