<%= form_for @ad, url: next_wizard_path, method: "PUT" do |f| %>
  <%= f.hidden_field :ad_id, value: params[:ad_id] %>
    <div class="container text-center">
      <div class="row">
        <div class="col">
         <%= f.label :City %>
          <%= f.select :city, options_for_select([['Lahore', 'lahore'],['Karachi', 'karachi'],['Islamabad', 'islamabad'],['Quette', 'quetta'],['Peshawar', 'peshawar'],['Rawalpindi', 'rawalpindi']]), {include_blank: true}%>
          <br>
        </div>
        <div class="col">
            <%= f.label :Milage %>
            <%= f.text_field :milage, placeholder: 'in km/h' %><br>
            <br>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <%= f.label :'Car_Make/Model' %>
          <%= f.select :car_make, options_for_select([['Honda', 'honda'],['Suzuki', 'suzuki'],['Toyota', 'toyata'],['Tesla', 'tesla']]), {include_blank: true} %>
          <br>
        </div>
        <div class="col">
          <%= f.label :Transmission_Type %>
          <%= f.select :transmission_type, options_for_select([['Automatic Manual', 'automatic manual'],['Manual', 'manual']]), {include_blank: true} %><br>
          <br>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <%= f.label :Price %>
          <%= f.text_field :price, placeholder: 'should be entered in PKR' %><br>
          <br>
        </div>
      <div class="col">
        <%= f.label :Engine_Type %>
        <%= f.select :engine_type, options_for_select([['Petrol', 'petrol'],['Diesel', 'diesel'], ['Hybrid','hybrid']]), {include_blank: true}%><br>
        <br>
      </div>
    </div>
    <div class = col-6 >
        <%= f.label :Color %>
        <%= f.select :color, options_for_select([['White', 'white'],['Blue', 'blue'],['Black', 'black'],['Grey', 'grey'],['Silver', 'silver']]), {include_blank: true}%>
    </div>
      <%= f.label :Add_description %><br>
      <%= f.text_field :add_description %><br>
      <br>
      <%= f.submit "next" %>
<% end %> 
