<%= render "layouts/header" if current_user.present? %>
<br>
<div class="container text-center">
	<%= render 'progress-bar'%>
  <div class="row">
    <div class="col">
			<%= form_for @ad, url: next_wizard_path, method: "PUT" do |f| %>
			<%= f.hidden_field :ad_id, value: @ad.id %>
			<%= f.file_field :images, class: "form-control", multiple: true %>
			<img id="img_prev" />
			<br>
			<%= f.submit "Next" %>
			<%= link_to "Back", ad_steps_path %>	
			<% end %>
		</div>
	<div>
<div>
