<%= form_for @ad, url: wizard_path do |f| %>
	<%= f.hidden_field :ad_id, value: @ad.id %>
	<div class="form_group">
		<% if @ad.images.attached? %>
			<%= image_tag(@ad.image) %>
		<% end %>
   <body>
      <input type='file' onchange="readURL(this);" id= "image_id" multiple />
      <img id="img_prev" />
			    <%= link_to 'Remove image', image.purge %>
    </body>
	</div>
		<%= link_to "Next", next_wizard_path %>
		<%= link_to "Previous", ad_steps_path %>


<% end %>
