<div class="container text-center">
	<%= render 'progress-bar'%>
  <div class="row">
    <div class="col">
			<%= form_for @ad, url: wizard_path, method: "PUT" do |f| %>
      <% if f.object.errors.any? %>
        <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      <% end %>		
			<%= f.hidden_field :ad_id, value: @ad.id %>
			<%= f.file_field :images, class: "form-control", multiple: true %>
			<img id="img_prev" />
			<%= f.submit "Next" %>
			<%= link_to "Back", ads_path(id: @ad_id), method: :post %>	
			<% end %>
		</div>
	<div>
<div>
