<div class="container-fluid w-75 h-100 mt-5 p-4 text-right border bg-light ">
	<h1>Find Cars</h1>
  <%= form_for :ad, url:home_search_path, method: 'get' do |f| %>
    <div class="container text-center">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
					<%= f.label :city, class: "form-label" %>
					<%= f.select :city, options_for_select([['Lahore', 'lahore'],['Quetta', 'quetta'],['Peshawar', 'peshawar'],['Islamabad', 'islamabad']]), class: "form-control w-100" %>	
        </div>
        <div class="col-4 d-flex align-items-center">
					<%= f.label :Milage, class: "form-label" %>
					<%= f.text_field :milage, placeholder: 'in km/h', class: "form-control"  %>
        </div>
				<div class="col-4 d-flex align-items-center">
          <%= f.label :'Car_Make/Model', class: "form-label" %>
          <%= f.select :car_make, options_for_select([['Honda', 'honda'],['Suzuki', 'suzuki'],['Toyota', 'toyata'],['Tesla', 'tesla']]), class: "form-control w-100"  %>
        </div>
      </div>
		</div>
		<% if filters %>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <%= f.label :Transmission_Type %>
          <%= f.select :transmission_type, options_for_select([['Automatic Manual', 'automatic manual'],['Manual', 'manual']]) %>        
        </div>
				<div class="col">
          <%= f.label :Price %>
          <%= f.text_field :price, placeholder: 'should be entered in PKR' %>
        </div>
				<div class="col">
					<%= f.label :Engine_Type %>
					<%= f.select :engine_type, options_for_select([['Petrol', 'petrol'],['Diesel', 'diesel'], ['Hybrid','hybrid']]), {include_blank: true}%>					
				</div>
			</div>
		</div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <%= f.label :Assembly_Type %>
					<%= f.select :assembly_type, options_for_select([['International', 'international'],['Local', 'local']])%>
        </div>
        <div class="col">		
					<%= f.label :Engine_Capacity %>
					<%= f.select :engine_capacity, options_for_select(Ad::ENGINE_CAPACITY), {include_blank: true} %>
				</div>
				<div class="col">		
					<%= f.label :Color %>
	      	<%= f.select :car_make, options_for_select(Ad::COLOR) %>
				</div>
			</div>
    </div>
		<% end %>
		<div class="container text-center">
			<div class="row align-items-start">
				<div class="col-sm">
					<div class="d-grid gap-2 d-md-flex mt-3 justify-content-md-start">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
						<%= link_to "#{filters ?	 "Less Search Options" : "More Search Options"}", home_new_path(filters: !filters), remote: true %>
						</button>
						<div class="col-sm-11 mt-3">
							<%= f.submit "search" %>	
						</div>			
					</div>
				</div>
			</div>
		</div>
	<% end %> 		
</div>

